* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Avenir Next", "Hiragino Sans", sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* ヘッダー ================================ */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #2d3133;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a {
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: #2d3133;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: #2d3133;
  margin: 0;
  font-size: 13px;
}

.tasks-area {
  width: 50vw;
  margin: 0 auto;
  padding: 100px 0;
}

.task-table {
  padding: 20px 0 30px;
}

.task-table-column {
  text-align: center;
}

.task-table-column-edit {
  padding-left: 30px;
}

.add-new-task-button {
  font-weight: 700;
  font-size: 18px;
}
